@import "../../index.scss";

.movie-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 2rem 1.5rem;
    width: 100%;
    padding: 1rem 0;
}

.movie-grid-item {
    height: 100%;
    display: flex;
}
