@import "../../index.scss";

.header-container {
    margin-bottom: 0.5rem;
    margin-top: 1rem;

    .text-end {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        @media (max-width: $breakpoint-md) {
            align-items: center;
            gap: 0.25rem;
        }

        .title-logo-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%; // Take full width

            @media (max-width: $breakpoint-md) {
                flex-direction: column;
                gap: 0.5rem;
            }
        }
    }

    h2 {
        opacity: 0.8;
        font-weight: 700;
        font-size: 1.5rem !important;
        margin: 0 !important;
        text-align: start;
        white-space: nowrap;

        @media (max-width: $breakpoint-sm) {
            font-size: 1.25rem;
        }
    }

    .logo-image {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    @media (max-width: $breakpoint-sm) {
        max-width: 80%;
    }
}

h6 {
    margin: 0 !important;
    padding-left: 0.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    opacity: 0.8;
    text-align: center;
    align-self: center;
}

.login-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;

    @media (max-width: $breakpoint-md) {
        max-width: 300px;
        padding: 1.5rem;
    }

    @media (max-width: $breakpoint-sm) {
        max-width: 100%;
        padding: 1rem;
    }
}

.title-container {
    color: $font-color-white;
    margin-top: 10px;
    text-align: center;

    .text-muted {
        font-size: 0.85rem;
        color: rgba(40, 40, 40, 0.658) !important;
    }
}

.login-card.card {
    max-width: 100%;
    background-color: #445866 !important;
    border-radius: 24px !important;
    margin: 0 auto;
    padding: 1rem;

    @media (max-width: $breakpoint-md) {
        max-width: 300px;
    }

    @media (max-width: $breakpoint-sm) {
        max-width: 100%;
    }
}
.card-body {
    padding: 1rem; // Ensure consistent padding
}

.form-group {
    margin-bottom: 1.5rem;
    justify-content: center;
    width: 100%;
}

.form-label {
    font-weight: 500;
    color: $font-color-white;
}

.form-control {
    box-sizing: border-box;
    width: 100% !important;
    height: 46px !important;
    background-color: #353b3d !important;
    border-radius: 16px !important;
    border-color: transparent !important;
    padding: 0.75rem;
    color: $font-color-dark;

    &:focus {
        border: transparent;
        // border-color: rgba(182, 150, 81, 0.419) !important;
        box-shadow: 0 0 0 0.15rem rgba(182, 150, 81, 0.751) !important;
    }
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-button.btn-primary {
    box-sizing: border-box;
    background-color: $color-gold !important;
    border-radius: 16px !important;
    border-color: transparent !important;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
    margin-top: 1rem;

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}

p {
    color: rgba(40, 40, 40, 0.658);
}

.signup-link {
    text-align: center;
    margin-top: 1.5rem;
    color: $color-blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
