// Variables
$body-bg: #0e2e4d;
$body-color: #ecececee;
$font-color-white: #cfcfcf;
$font-color-dark: #404040;
$color-gold: #b69651;
$color-blue: #4682b4;
$color-danger: rgba(249, 66, 66, 0.685);

body {
    background-color: $body-bg !important;
    color: $body-color !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.my-flix {
    color: $color-blue;
}

.FrontViewText {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

// .Card-Login {
//     align-items: center;

// }
